// Colors
$white: #ffffff;
$black: #000;
$red-orange: #f76262;
$muted: #6c757d;
$gray: #ecf0f1;

$theme-colors: (
    "primary": $red-orange,
    "secondary": $gray,
    "muted": $muted,
    "black": $black,
);